* {
  margin: 0%;
  padding: 0%;
  font-family: 'DM Sans', sans-serif;
}

body {
  background-image: url("../images/bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  color: white;
  font-family: "DM Sans";
}

.menu-bar .div {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}



.menu-bar img {
  width: 150px;
  /* padding: 20px; */
}

.menu-bar div.links {
  display: flex;
}

.menu-bar div.links a {
  padding: 15px;
  text-decoration: none;
  color: white;
}

.labels {
  color: white;
  text-align: center;
}

form input,
select {
  color: white;
  background: rgba(170, 163, 163, 0.45);
  box-shadow: 0px 4.67554px 4.67554px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

main .box {
  width: 80%;
  height: 320px;
  /* left: 0; */
  /* top: 1319px; */
  background: rgba(217, 217, 217, 0.1);
  border-radius: 20px;
}

.box {
  margin-top: 250px !important;
}

.nav-bk-blue {
  width: 100vw;
  top: 0%;
}

.nav-logo {
  margin-top: 20px;
  width: 50px;
  border-radius: 100%;
}

.nav-item {
  margin-left: 50px;
  margin-top: 20px;
}

.nav-item a {
  color: #fff !important;
  font-size: 16px;
  font-family: 'DM Sans', sans-serif;
  font-weight: 600;
}

.nav-item a:hover {
  color: gainsboro !important;
}

.nav-bottom-hr {
  border: thin blue;
}

@media only screen and (max-width: 1200px) {
  .nav-item {
    margin-left: 30px;
  }

  .nav-item a {
    font-size: 15px;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-nav {
    margin-left: 250px;
    position: sticky;
    top: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .navbar-toggler {
    margin-top: 20px !important;
  }

  .nav-link {
    margin-left: 30px;
  }
}