<!DOCTYPE html>
<html lang="en" class="supernova">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="alternate" type="application/json+oembed"
    href="https://www.jotform.com/oembed/?format=json&amp;url=https%3A%2F%2Fform.jotform.com%2F230702862347455"
    title="oEmbed Form">
  <link rel="alternate" type="text/xml+oembed"
    href="https://www.jotform.com/oembed/?format=xml&amp;url=https%3A%2F%2Fform.jotform.com%2F230702862347455"
    title="oEmbed Form">
  <meta property="og:title" content="csi challenge">
  <meta property="og:url" content="">
  <meta name="author" content="Tomin Joy">
  <meta property="og:description" content="Please click the link to complete this form.">
  <meta name="slack-app-id" content="AHNMASS8M">
  <meta property="og:image" content="/images/logo.png" />
  <link rel="shortcut icon" href="/images/logo.png">
  <!-- <script>
          var favicon = document.querySelector('link[rel="shortcut icon"]');
          window.isDarkMode = (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches);
          if(favicon && window.isDarkMode) {
              favicon.href = favicon.href.replaceAll('favicon-2021-light%402x.png', 'favicon-2021-dark%402x.png');
          }
      </script><link rel="canonical" href="https://form.jotform.com/230702862347455" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=1" />
  <meta name="HandheldFriendly" content="true" />
  <title>CSI Challenge</title>
  <style type="text/css">
    @media print {
      .form-section {
        display: inline !important
      }

      .form-pagebreak {
        display: none !important
      }

      .form-section-closed {
        height: auto !important
      }

      .page-section {
        position: initial !important
      }
    }
  </style>
  <link type="text/css" rel="stylesheet"
    href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?v=3.3.40079&themeRevisionID=5eb3b4ae85bd2e1e2966db96" />
  <link type="text/css" rel="stylesheet"
    href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.40079" />
  <link type="text/css" rel="stylesheet"
    href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.40079" />
  <link rel="stylesheet" href="/style.css">

  <script src="https://cdn01.jotfor.ms/static/prototype.forms.js?3.3.40079" type="text/javascript"></script>
  <script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.40079" type="text/javascript"></script>
  <script src="https://cdn03.jotfor.ms/js/vendor/jquery-1.8.0.min.js?v=3.3.40079" type="text/javascript"></script>
  <script defer src="https://cdn01.jotfor.ms/js/vendor/maskedinput.min.js?v=3.3.40079" type="text/javascript"></script>
  <script defer src="https://cdn02.jotfor.ms/js/vendor/jquery.maskedinput.min.js?v=3.3.40079"
    type="text/javascript"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/punycode/1.4.1/punycode.js"></script>
  <script type="text/javascript" src="/script.js"></script>
</head>

<body>



  <main>
    <div class="container mt-5">
      <form action="/home" method="post" name="form">




        <div role="main" class="form-all">
          <ul class="form-section page-section">
            <li class="form-line form-line-column form-col-1" data-type="control_image" id="id_17">
              <div id="cid_17" class="form-input-wide" data-layout="full"> <img alt="Image" loading="lazy"
                  class="form-image" style="border:0"
                  src="https://www.jotform.com/uploads/tominjoy2024/form_files/WhatsApp%20Image%202023-02-28%20at%208.55.49%20PM.640dbbc1b92078.81202331.jpeg"
                  tabindex="0" height="0px" width="200px" data-component="image" />
              </div>
            </li>
            <li class="form-line form-line-column form-col-2" data-type="control_text" id="id_18">
              <div id="cid_18" class="form-input-wide" data-layout="full">
                <div id="text_18" class="form-html" data-component="text" tabindex="0">
                  <div style="line-height: 18px; text-align: right; padding-top: 24px;">
                    <div style="font-size: 12pt;"><strong>CSI SJCET
                        Chapter</strong></div>
                    <div style="font-size: 10pt;">Computer society of India
                      SJCET Chapter</div>
                    <div style="line-height: 14px;">
                      <div style="font-size: 8pt;">csi@sjcetpalai.ac.in
                      </div>
                      {{!-- <div style="font-size: 8pt;">www.example.com</div> --}}
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li id="cid_1" class="form-input-wide" data-type="control_head">
              <div class="form-header-group  header-small">
                <div class="header-text httal htvam">
                  <h3 id="header_1" class="form-header" data-component="header">
                    Students Details:</h3>
                  <div id="subHeader_1" class="form-subHeader">Please fill the form
                    accordingly</div>
                </div>
              </div>
            </li>
            <li class="form-line jf-required" data-type="control_fullname" id="id_3"><label
                class="form-label form-label-top" id="label_3" for="first_3"> Full
                Name<span class="form-required">*</span> </label>
              <div id="cid_3" class="form-input-wide jf-required" data-layout="full">
                <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top"
                    data-input-type="last"><input type="text" id="name" name="name"
                      class="form-textbox validate[required]" data-defaultvalue=""
                      autoComplete="section-input_3 family-name" size="15" value="" data-component="last"
                      aria-labelledby="label_3 sublabel_3_last" required="required" /><label class="form-sub-label"
                      for="name" id="sublabel_3_last" style="min-height:13px" aria-hidden="false">Name</label></span>
                </div>
              </div>
            </li>
            <li class="form-line form-line-column form-col-1 jf-required" data-type="control_phone" id="id_5"><label
                class="form-label form-label-top form-label-auto" id="label_5" for="phone"> Phone<span
                  class="form-required">*</span> </label>
              <div id="cid_5" class="form-input-wide jf-required" data-layout="half"> <span
                  class="form-sub-label-container" style="vertical-align:top"><input type="tel" id="phone" name="phone"
                    data-type="mask-number" class="mask-phone-number form-textbox validate[required, Fill Mask]"
                    data-defaultvalue="" autoComplete="section-input_5 tel-national" style="width:310px"
                    data-masked="true" value="" placeholder="+910000000000" data-component="phone"
                    aria-labelledby="label_5" required="required" />
                  {{#if msg2}}
                  <label class="form-sub-label" for="phone" id="sublabel_5_masked" style="min-height:13px;color:red   "
                    aria-hidden="false">{{msg2}}</label>

                  {{/if}}
                </span> </div>
            </li>
            <li class="form-line form-line-column form-col-2" data-type="control_email" id="id_6"><label
                class="form-label form-label-top form-label-auto" id="label_6" for="email"> E-mail<span
                  class="form-required">*</span></label>
              <div id="cid_6" class="form-input-wide" data-layout="full"> <span class="form-sub-label-container"
                  style="vertical-align:top"><input type="email" id="email" name="email"
                    class="form-textbox validate[Email]" data-defaultvalue="" style="width:310px" size="310" value=""
                    placeholder="ex: email@yahoo.com" data-component="email" aria-labelledby="label_6 sublabel_email" />
                  {{#if msg}}
                  <label class="form-sub-label" style="min-height:13px;color:red">{{msg}}</label>
                  {{else}}
                  <label class="form-sub-label" for="email" id="sublabel_email" style="min-height:13px"
                    aria-hidden="false">example@example.com</label>
                  {{/if}}</span>
              </div>
            </li>
            <li class="form-line" data-type="control_divider" id="id_16">
              <div id="cid_16" class="form-input-wide" data-layout="full">
                <div class="divider" data-component="divider"
                  style="border-bottom-width:1px;border-bottom-style:solid;border-color:#ecedf3;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px">
                </div>
              </div>
            </li>
            <li class="form-line form-line-column form-col-1 jf-required" data-type="control_dropdown" id="id_19"><label
                class="form-label form-label-top" id="label_19" for="year">
                Year<span class="form-required">*</span> </label>
              <div id="cid_19" class="form-input-wide jf-required" data-layout="half">
                <select class="form-dropdown validate[required]" id="year" name="year" style="width:310px"
                  data-component="dropdown" required="required" aria-label="Year">
                  <option value="">Please Select</option>
                  {{!-- <option value="First">First</option> --}}
                  <option value="Second">Second</option>
                  {{!-- <option value="Fourth">Fourth</option> --}}
                </select>
              </div>
            </li>
            <li class="form-line form-line-column form-col-2 jf-required" data-type="control_dropdown" id="id_20"><label
                class="form-label form-label-top" id="label_20" for="branch">
                Batch<span class="form-required">*</span> </label>
              <div id="cid_20" class="form-input-wide jf-required" data-layout="half">
                <select class="form-dropdown validate[required]" id="batch" name="branch" style="width:310px"
                  data-component="dropdown" required="required" aria-label="Batch">
                  <option value="">Please Select</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  {{!-- <option value="ECE">ECE</option>
                  <option value="EEE">EEE</option>
                  <option value="ME">ME</option>
                  <option value="CE">CE</option>
                  <option value="AD">AD</option>
                  <option value="ECS">ECS</option>
                  <option value="CY">CY</option>
                  <option value="EI">EI</option> --}}
                </select>
              </div>
            </li>
            
            <li class="form-line" data-type="control_divider" id="id_22">
              <div id="cid_22" class="form-input-wide" data-layout="full">
                <div class="divider" data-component="divider"
                  style="border-bottom-width:1px;border-bottom-style:solid;border-color:#659cdb;height:1px;margin-left:0px;margin-right:0px;margin-top:5px;margin-bottom:5px">
                </div>
              </div>
            </li>
            
            
            <li class="form-line  jf-required" data-type="control_dropdown" id="id_8"><label
                class="form-label form-label-top form-label-auto" id="label_8" for="Reach">Upload the file or paste the link<span class="form-required">*</span> </label>
              <div id="cid_8" class="form-input-wide jf-required" data-layout="half">
                {{!-- <select class="form-dropdown validate[required]" id="Reach" name="Reach" style="width:310px"
                  data-component="dropdown" required="required" aria-label="How did you hear about us?">
                  <option value="">Please Select</option>
                  <option value="WhatsAPP">WhatsAPP</option>
                  <option value="Instagram">Instagram</option>
                  <option value="LInkedin">LInkedin</option>
                  <option value="Friend">Friend</option>
                  <option value="Other">Other</option>
                </select> --}}
                <input id="file" name="file" type="file" class="form-line">
                <div data-wrapper-react="true"><span class="form-sub-label-container" style="vertical-align:top"
                    data-input-type="last"><input type="url" id="file_url" name="file_url"
                      class="form-textbox validate[required]" data-defaultvalue=""
                      autoComplete="section-input_4 family-name" size="15" value="" data-component="last"
                      aria-labelledby="label_3 sublabel_3_last" required="required" /><label class="form-sub-label"
                      for="name" id="sublabel_3_last" style="min-height:13px" aria-hidden="false">Paste url here</label></span>
                </div>
                
              </div>
            </li>
            {{!-- <li class="form-line form-line-column form-col-4 jf-required form-field-hidden" style="display:none;"
              data-type="control_textbox" id="id_9"><label class="form-label form-label-top form-label-auto"
                id="label_9" for="input_9"> Please Specify<span class="form-required">*</span>
              </label>
              <div id="cid_9" class="form-input-wide jf-required" data-layout="half"> <input type="text" id="input_9"
                  name="q9_pleaseSpecify" data-type="input-textbox" class="form-textbox validate[required]"
                  data-defaultvalue="" style="width:310px" size="310" value="" placeholder=" " data-component="textbox"
                  aria-labelledby="label_9" required="required" /> </div>
            </li> --}}
            <li class="form-line" data-type="control_textarea" id="id_11"><label class="form-label form-label-top"
                id="label_11" for="questions"> Any
                Queries or suggestion: </label>
              <div id="cid_11" class="form-input-wide" data-layout="full"> <textarea id="questions"
                  class="form-textarea" name="questions" style="width:648px;height:163px" data-component="textarea"
                  aria-labelledby="label_11"></textarea> </div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">
              <div id="cid_2" class="form-input-wide" data-layout="full">
                <div data-align="center" class="form-buttons-wrapper form-buttons-center   jsTest-button-wrapperField">
                  <button id="input_2" type="submit"
                    class="form-submit-button form-submit-button-black_blue submit-button jf-form-buttons jsTest-submitField"
                    data-component="button" data-content="">Submit</button>
                </div>
              </div>
            </li>

          </ul>
        </div>
        <input type="hidden" class="simple_spc" id="simple_spc" name="simple_spc" value="230702862347455" />
        <script type="text/javascript">
          var all_spc = document.querySelectorAll("form[id='230702862347455'] .si" + "mple" + "_spc");
          for (var i = 0; i < all_spc.length; i++) {
            all_spc[i].value = "230702862347455-230702862347455";
          }
        </script>
      </form>

  </main>

</body>

</html>
<script src="https://cdn.jotfor.ms//js/vendor/smoothscroll.min.js?v=3.3.40079"></script>
<script src="https://cdn.jotfor.ms//js/errorNavigation.js?v=3.3.40079"></script>